<%- include partials/header.ejs %>

 <!-- <h1><%= title %></h1>
  <p>Welcome to <%= title %></p> -->

<body>
  <div class="container">
    <div class="row">
      <div class="logo">
      </div>
    </div>

    <div class="spacer"></div>
    
    <div class="row">
      <form>
        <div class="row">
          <div class="username-form">
            <label for = "Usename">Username</label> 
            <input type="text" class="form-control" id="Username1" placeholder="Enter Username">
          </div>
        </div>
          
        <div class="spacer"></div>
          
        <div class="row">
          <div class="password-form">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">                    
          </div>
        </div>

        <div class="spacer"></div>

        <div class="row">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>

      </form> 
    </div> 

  </div>
        <img src= "images/saviourTrustLogo.png" alt=""/>
 <!-- <h1><%= title %></h1>
  <p>Welcome to <%= title %></p> -->
  <form>
    <div class="form-group">
      <label for = "Usename">Username</label> 
      <input type="text" class="form-control" name="username" placeholder="Enter Username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
</form>
</body>

<%- include partials/footer.ejs %>
